<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Agile Food</title>
  </head>

  <body>
    <script>
      window.appConfig = {
        debug: {% if env == 'development' %}true{% else %}false{% endif %},
        docs: {{docs|safe}}
      }
    </script>
    <div ng-app="sortableApp" ng-controller="sortableController" style="Height:500px;">

      <div class="options-box">
        <h2 id="h">Agile Food</h2>
        <div id="single_sprint" style="display: none">
          <button onclick="toAllLists()" style="display:block; height:30px;width:80px;">All Lists</button><br><br>
          <div ui-sortable="sortableOptions" class="apps-container screen" ng-model="list2" id="sprint_content">
          {%raw%}
            <div class="app i1" id={{app.title}} ng-repeat="app in list2" onmouseover="expandTag(this)" onmouseout="shrinkTag(this)">
              <font size=3>{{app.title}}</font>
              <img class="dish-pic" src="{{app.link}}" height="200px" width="200px" style="display:none">
            </div>
          {%endraw%}
          </div>
          <input type="button" onclick="godb(this)" value="Submit">
          <div style="clear: both;"></div>
        </div>

        <div id="all_sprints">
          <li><a href="" onclick="toAllLists()">close to my office</a></li>
          <li><a href="" onclick="toAllLists()">expensive french</a></li>
        </div>
      </div>


      <div id="map">
        <div id="view-1">
          <div ui-sortable="sortableOptions" class="apps-container screen" ng-model="list1">
            <div class="app i1" ng-repeat="app in list1" onmouseover="expandTag(this)" onmouseout="shrinkTag(this)">
              {%raw%}
              <font size=3>{{app.title}}</font><br><br>
              <img class="dish-pic" src="{{app.link}}" height="200px" width="200px" style="display:none">
              <button onclick="displayImg(this)" style="height:20px;width:40px;vertical-align:bottom;display:none">Edit</button>
              {%endraw%}
            </div>
          </div>
        </div>
        <div id="view-2" style="display: none">
          <p>I love Python</p>
          <button onclick="displayImg(this)" style="float: left">Out</button>
        </div>
      </div>


      <div class="clear"></div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.4/angular.min.js"></script>
      <script src="https://rawgithub.com/angular-ui/ui-sortable/master/src/sortable.js"></script>

    </div>
    <script type="text/javascript" src="{{url_for('static', filename='agile_food.js')}}"></script>

  </body>
</html>